[submodule "libs/EdiZon-SE"]
	path = libs/EdiZon-SE
	url = https://github.com/tomvita/EdiZon-SE.git
[submodule "libs/libultrahand"]
	path = libs/libultrahand
	url = https://github.com/ppkantorski/libultrahand
